@model IEnumerable<Imobiliaria.Models.Anuncio>
@{
    ViewBag.Title = "Home Page";
}
<div class="alert-danger text-center" id="divmsg"></div>
<div id="divIndex" class="jumbotron">
    <form class="form-inline">
        <div class="row">
            <div class="col-md-3">
                <label class="checkbox-inline">
                    <input type="checkbox" name="chkAlugar" id="chkAlugar" value="1" checked /> Alugar
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" name="chkComprar" id="chkComprar" value="2" checked /> Comprar
                </label>
            </div>
            <div class="col-md-3 col-md-offset-6">
                <div class="input-group">
                    <input id="txtBusca" type="text" class="form-control" placeholder="Buscar referência...">
                    <span class="input-group-btn">
                        <button id="btnBuscar" class="btn btn-default" type="button">Buscar</button>
                    </span>
                </div>
            </div>
           
        </div>
        <label class="text-primary">Busas Avançada</label>
        <div class="row">
            <div class="col-md-2" id="divImoveis">
                @Html.DropDownList("dropDownImovel", new SelectList(ViewBag.TipoImoveis, "Id", "Nome"), "Tipo de Imóvel...", new { @class = "form-control"})
            </div>
            <div class="col-md-2" id="divEstado" style="display:none;">
                @Html.DropDownList("dropDownEstado", new SelectList(ViewBag.EstadoBr, "Id", "Nome"), "Estado...", new { @class = "form-control" })
            </div>
            <div class="col-md-2" id="divCidade" style="display:none;">
                @Html.DropDownList("dropCidade", new List<SelectListItem>(),"Cidade...", new { @class = "form-control" })
            </div>
            <div class="col-md-2" id="divBairro"  style="display:none;">
                @Html.DropDownList("dropDownBairro", new List<SelectListItem>(), "Bairro...", new { @class = "form-control" })
            </div>
            <div class="col-md-2"  id="divValores"  style="display:none;">
                <select class="form-control" id="dropdownValores">
                    <option value="0-0">Faixa de valores...</option>
                    <option value="1-100000">Até 100.000,00</option>
                    <option value="101000-200000">101.000,00 a 200.000,00</option>
                    <option value="201000-300000">201.000,00 a 300.000,00</option>
                    <option value="301000-400000">301.000,00 a 400.000,00</option>
                    <option value="401000-500000">401.000,00 a 500.000,00</option>
                    <option value="501000-600000">501.000,00 a 600.000,00</option>
                    <option value="601000-700000">601.000,00 a 700.000,00</option>
                    <option value="701000-800000">701.000,00 a 800.000,00</option>
                    <option value="801000-900000">801.000,00 a 900.000,00</option>
                    <option value="900000-50000000">Acima de 900.000,00</option>
                </select>
            </div>
            <div class="col-md-2" >
                <button type="button" id="btnFiltro" class="btn btn-info btn-sm" disabled title="Buscar imóvel por filtro">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
                <button type="button" id="btnLimparFiltro" class="btn btn-danger btn-sm"  disabled title="Limpar Filtro">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
                
            </div>
        </div>
    </form>
</div>
<div id="divpainel">
@{
    if(IsAjax)
    {
        Html.RenderPartial("Lista");
    }
 }
</div>

<div id="modalDetails" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="painelDetalhes" class="modal-body">
                @{
                    if (IsAjax)
                    {
                        Html.RenderPartial("Detalhes");
                    }
                }
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {

        $("#txtBusca").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                $("#divmsg").html("Apenas caracteres numéricos!").show().fadeOut("slow").delay(3000);
                return false;
            }
        });


        $("#btnFiltro").click(() => {
            filtro('1');
        })

        $("#btnLimparFiltro").click(() => {
            $("#dropDownImovel").get(0).selectedIndex = 0;
            $("#dropDownEstado").get(0).selectedIndex = 0;
            $("#divEstado").hide();
            $('#dropCidade').get(0).selectedIndex = 0;
            $('#divCidade').hide();
            $("#divBairro").get(0).selectedIndex = 0;;
            $("#divBairro").hide();
            $("#dropCidade").get(0).selectedIndex = 0;
            $("#divValores").hide();
            $('#btnFiltro').attr('disabled', 'disabled');
            $("#btnLimparFiltro").attr('disabled', 'disabled');
            $("#divpainel").empty();

        });



        $("#btnBuscar").click(function () {
            if ($("#txtBusca").val() == "")
                return;
            $('#btnLimparFiltro').removeAttr('disabled');
            jQuery('#divLista').showLoading();
            var urlAction = "@Url.Action("Lista")";
            $.ajax({
                url: urlAction,
                type: "GET",
                dataType: "html",
                cache: false,
                async: false,
                data: { id: $("#txtBusca").val() },
                success: function (data) {
                    $("#divpainel").html(data);
                    jQuery('#divLista').hideLoading();
                },
                error: function (data)
                {
                    jQuery('#divLista').hideLoading();
                    $("#divpainel").html(data);
                }
            });
        });

        $('#dropDownImovel').change(function () {
            if ($(this).val().length == 0) {
                $('#btnFiltro').attr('disabled', 'disabled');
                alert('Selecione um tipo de imovel')
            }
            else {
                $('#btnFiltro').removeAttr('disabled');
            }

            $("#divEstado").show();
        });

        $('#dropDownEstado').change(function () {
            reiniciarDrop();
            var urlAction = "@Url.Action("BindCidade")";
            var objHtml = $('#dropCidade');
            if ($(this).val().length == 0) {
                isFilterValid(true, 'Estado')
                return;
            } 

            $.ajax({
                type: "get",
                url: urlAction,
                data: { id: $(this).val() },
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function (obj) {
                    $('#btnFiltro').removeAttr('disabled');
                    $('#btnLimparFiltro').removeAttr('disabled');
                    $('#divCidade').show();
                    objHtml.empty().append($('<option>', {
                        value: '0',
                        text: 'Cidade...'
                    }));
                    if (obj != null) {

                        $.each(obj.t, function (i, d) {
                            objHtml.append($('<option>', {
                                value: d.Id,
                                text: d.Nome
                            }));
                        });
                    }
                }
            });

        });


        $("#dropCidade").change(function () {
            var urlAction = "@Url.Action("BindBairro")";
            var objHtml = $('#dropDownBairro');
            $("#divBairro").show();
            $.ajax({
                type: "get",
                url: urlAction,
                data: { id: $(this).val() },
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function (obj) {
                    objHtml.empty().append($('<option>', {
                        value: '0',
                        text: 'Bairro...'
                    }));
                    if (obj != null) {

                        $.each(obj.bairro, function (i, d) {
                            objHtml.append($('<option>', {
                                value: d.Id,
                                text: d.Nome
                            }));
                        });
                    }
                }
            });
        });

        $('#dropDownBairro').change(function () {
            $("#divValores").show();
        });

    });

    var isFilterValid = (isInValid, texto) => {
        if (isInValid) {
            $('#btnFiltro').attr('disabled', 'disabled');
            alert('Selecione um ' + texto);
         } else
            $('#btnFiltro').removeAttr('disabled');
    };

    var reiniciarDrop = () => {

        $('#dropDownBairro').empty().append($('<option>', {
            value: '0',
            text: 'Bairro...'
        }));

        $('#dropCidade').empty().append($('<option>', {
            value: '0',
            text: 'Cidade...'
        }));
    }

    var OpenDetails = (id) => {
        jQuery('#divLista').showLoading(); 
        $.ajax({
            type: "GET",
            url: "@Url.Action("Detalhes")",
            data: { id: id },
            dataType: 'html',
            success: (obj) => {
                jQuery('#divLista').hideLoading(); 
                $('#modalDetails').modal('show');
                $('#painelDetalhes').empty().html(obj);
            },
            error: (obj) => {
                jQuery('#divLista').hideLoading(); 
                $('#painelDetalhes').html("<h3>Erro ao tentar exibir o conteúdo</h3>");
            }
        });

    };

    var contatarImovel = (_id) => {
        $(location).attr('href', '/Home/EnviarContato/' + _id);
    };

    var filtro = (_page) => {
        jQuery('#divIndex').showLoading();
        var urlAction = "@Url.Action("Search")";
        $.ajax({
            url: urlAction,
            type: "GET",
            data: { _anuncioTipo: ($("#chkAlugar").is(':checked') && $("#chkComprar").is(':checked')) ? "0" : $("#chkAlugar").is(':checked') ? "1" : $("#chkComprar").is(':checked') ? "2" : "100", _tipo: $("#dropDownImovel").val(), _estado: $("#dropDownEstado").val(), _bairro: $("#dropDownBairro").val(), _cidade: $("#dropCidade").val(), _valor: $("#dropdownValores").val(), _page },
            success: function (data) {
                jQuery('#divIndex').hideLoading();
                $("#divpainel").html(data);
            },
            error: function (data) { $("#divpainel").html(data); jQuery('#divIndex').hideLoading(); }
        });
    };


    
</script>


<div id="divLista" class="row">
@foreach (var item in Model)
{
    <div class="col-sm-3 col-md-3" style="padding-bottom:10px;">
        <div class="thumbnail">
            <div  class="thumbnail">
            @if (item.Imagens.Count > 0)
            {
                var base64 = Convert.ToBase64String(item.Imagens.First().Path);
                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                <img src="@imgSrc" alt="..." style="height:200px;" class="img-rounded">
            }
            else
            {
               <img src="~/Content/img/Home_icon_black1.png" alt = "Este anúncio não tem imagens" style = "height:200px;" class="img-rounded" >
            }
            </div>
            <div class="caption">
                <div class="text-info" style="font-weight:bold;">
                   <h4> @string.Format("{0:C}", item.Valor)</h4>
                </div>
                <div>
                    <details >
                        <summary class="text-danger" style="cursor:pointer"><b>REF: @item.Id</b> - @(item.TipoAnuncio == 1 ? "Aluga-se" : "A Venda")</summary>
                        <ul style="font-size:12px;">
                            <li>Vagas: @item.Vagas</li>
                            <li>Suite: @item.Suite</li>
                            <li>Dorm: @item.Dorms</li>
                            <li>Área: @item.Area</li>
                        </ul>
                    </details>
                   <br>
                    <button type="button" class="btn btn-info btn-xs" onclick="contatarImovel(@item.Id)" title="Gostei e quero mais informações">
                        <span class="glyphicon glyphicon-send"></span> CONTATAR
                    </button>
                </div>
                <h5>@{
                    var _titulo = "";
                    if (item.Titulo.Length < 30)
                    {
                        _titulo = item.Titulo;
                    }
                    else
                    {
                        _titulo = item.Titulo.Substring(0, 30) + "...";
                    }
                    @_titulo
                }</h5>
          
                <p>

                    <button type="button" class="btn btn-info btn-xs" onclick="OpenDetails(@item.Id.ToString());" title="Detalhes do imóvel" @(item.Imagens.Count == 0 ? "disabled": null ) >
                        <span class="glyphicon glyphicon-home"></span> Mais detalhes...
                    </button>
                <p>
            </div>
        </div>
    </div>
}
</div>
