@model Imobiliaria.Models.Anuncio

@{
    ViewBag.Title = "Novo Anúncio";
    if (Imobiliaria.Models.SessionContext.IsAutenticado == null)
        {
            <script>
                $(location).attr('href', '../');
            </script>
        }
    }

    <h2>Criar Novo Anúncio</h2>


    @using (Html.BeginForm("Create", "Anuncios", FormMethod.Post, new { id = "frmAnuncio", name = "frmAnuncio" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <hr />
        <div class="row">

            <div class="col-md-4">
                @Html.LabelFor(model => model.TipoAnuncio, htmlAttributes: new { @class = "control-label " })
                @Html.DropDownListFor(model => model.TipoAnuncio, new SelectList(ViewBag.TipoAnuncio, "Value", "Text"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TipoAnuncio, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-4">
                @Html.LabelFor(model => model.Tipo, htmlAttributes: new { @class = "control-label " })
                @Html.DropDownListFor(model => model.Tipo, new SelectList(ViewBag.TipoImovel, "Value", "Text"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Tipo, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-4">
                @Html.LabelFor(model => model.Dorms, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.Dorms, new { htmlAttributes = new { @class = "form-control", min = 0 } })
                @Html.ValidationMessageFor(model => model.Dorms, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.Suite, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.Suite, new { htmlAttributes = new { @class = "form-control", min = 0 } })
                @Html.ValidationMessageFor(model => model.Suite, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-4">
                @Html.LabelFor(model => model.Vagas, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.Vagas, new { htmlAttributes = new { @class = "form-control", min = 0 } })
                @Html.ValidationMessageFor(model => model.Vagas, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-4">
                @Html.LabelFor(model => model.Area, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.Area, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Area, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.Valor, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.Valor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Valor, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-4">
                @Html.LabelFor(model => model.Titulo, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2">
                <div class="checkbox">
                    @Html.LabelFor(model => model.IsLancamento, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.IsLancamento)
                    @Html.ValidationMessageFor(model => model.IsLancamento, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="checkbox">
                    @Html.LabelFor(model => model.Ativo, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.Ativo)
                    @Html.ValidationMessageFor(model => model.Ativo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.Descricao, new { @class = "control-label" })
            @Html.TextAreaFor(model => model.Descricao, new { @class = "form-control", style = "width: 100%" })
            @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
        </div>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <a href="@Url.Action("Index")" class="btn btn-info">
                    Voltar para Lista <span class="glyphicon glyphicon-arrow-left"></span>
                </a>
                <input type="button" value="Salvar Anúncio" id="btnSalvar" class="btn btn-default" />
            </div>
        </div>
    }


    <script type="text/javascript">
        $(document).ready(function () {

            //$(function () {
            //    $('#Valor').mask("#.##0.00", {reverse: true, maxlength: false});
            //});

            $('#btnSalvar').click(() => {
                if ($("#frmAnuncio").valid()) {
                    $('#frmAnuncio').submit();
                }
            });

        });
    </script>

