@model Imobiliaria.Models.Endereco

@{
    if (Imobiliaria.Models.SessionContext.IsAutenticado == null)
    {
        <script>
                $(location).attr('href', '../');
        </script>
    }

    ViewBag.Title = "Detalhes";
}

<h2 class="text-info">@Model.AnuncioEndereco.Titulo</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Cidade
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Composto.TextCidade)
        </dd>
        <dt>
            Estado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Composto.TextEstado)
        </dd>

        <dt>
            Bairro
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Composto.TextBairro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Logradouro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Logradouro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Complemento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Complemento)
        </dd>

    </dl>
</div>
<hr>
<div class="row">
    <div class="col-md-4">
        <a href="@Url.Action("Index")" class="btn btn-info">
            Voltar para Lista <span class="glyphicon glyphicon-arrow-left"></span>
        </a>
        @Html.ActionLink("Editar Endereço", "Edit", new { id = Model.Id }, new { @class = "btn btn-default" })

    </div>
</div>